/* Fonts stored on same domain to avoid IE / FireFox cross-domain issues */

@font-face {
  font-family: 'ProximaNovaBlack';
  src: url('../fonts/ProximaNova-Black-webfont.eot');
  src: url('../fonts/ProximaNova-Black-webfontd41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Black-webfont.svg#ProximaNova-Black-webfont') format('svg'),
        url('../fonts/ProximaNova-Black-webfont.woff') format('woff'),
        url('../fonts/ProximaNova-Black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
